.custom-getting-finance
  padding: 4rem 0

  &__title
    @extend h1
    padding-bottom: 4rem
    text-align: center
    text-transform: uppercase
    color: $grape

  &__container
    @extend .container

  &__left
    @extend .col-sm-offset-2
    @extend .col-sm-7

  &__right
    @extend .col-sm-offset-9
    @extend .col-sm-10
    position: relative
    min-height: 25rem

  &__body
    padding-bottom: 1rem

  &__line
    background: $pale-violet
    width: 40%
    height: 3px

  &__image
    @extend .img-norm
