.custom-treatments-damon
  position: relative
  background: $shadow3
  padding: 4rem 0

  &__container
    @extend .container

  &__subtitle
    @extend .col-sm-10
    @extend .col-sm-offset-4
    padding: 1rem 0 2rem
    text-align: center

  &__left
    @extend .col-sm-7
    position: relative
    min-height: 40rem

  &__right
    @extend .col-sm-8
    @extend .col-sm-offset-9
    @extend .flex-center
    flex-direction: column

  &__tile
    @extend .col-sm-8
    margin-top: 4rem
    border: 2px solid $pale-violet
    padding: 2rem
    text-align: center

  &__image-box
    position: relative
    width: 100%
    min-height: 10rem
    @media screen and (min-width: $screen-sm)
      margin: auto
      width: 70%

  &__title
    @extend h3-alt
    text-align: center
    text-transform: uppercase

  &__image
    @extend .img-norm

  &__body
    overflow: hidden

  &__text
    padding-bottom: 2rem

  &__dash
    transform: translateX(-100%)
    background: $lavender
    width: 119px
    height: 3px

    &--active
      transform: translateX(0)

  &__tile-title
    @extend h3-alt
    opacity: 1
    padding: 3rem 0
    text-transform: uppercase

  &__tile-body
    text-align: left
