.custom-home-contact
  &__bg
    position: relative
    background-position: center center
    background-size: cover
    width: 100%
    min-height: 90vh

  &__form
    position: absolute
    top: 50%
    right: 0
    transform: translateY(-50%)
    width: 50%

  &__address
    position: absolute
    top: 6%
    left: 50%
    transform: translateX(-50%)
    border-radius: 5px
    background-color: $c2
    padding: rem-calc(32) rem-calc(64)
    text-align: center

    h2
      color: $c1
      font-size: 24px
      font-weight: 600
      text-shadow: none
