.tab-home-team
  position: relative
  min-height: 100vh

  &__container
    @extend .flex-container
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

  &__team
    @extend .flex-container
    // transform: translateY(50px)
    transition: all 2s ease-in-out
    opacity: 0
    margin: rem-calc(32) auto

    &--active
      opacity: 1
      // transform: none

  &__body
    @extend .col-flex-3
    padding: 0 rem-calc(24)

  &__subtitle
    @extend h4
    transform: translateY(-10px)
    transition: all 1.2s ease-in-out
    opacity: 0
    width: 100%
    text-align: center

    &--active
      transform: none
      opacity: 1

  &__title
    @extend h2
    transform: translateY(10px)
    transition: all 1.5s ease-in-out
    opacity: 0
    margin-bottom: 0

    &--active
      transform: none
      opacity: 1

  &__team-title
    @extend h2
    text-shadow: none
    color: $c1
    font-size: 24px

  &__position
    @extend p
    margin-top: rem-calc(-24)

  &__content
    @extend p
    position: relative
    margin-top: rem-calc(24)

    &::after
      position: absolute
      bottom: -16px
      left: 0
      border: 1.5px solid $c1
      width: 36px
      content: ''

  &__images
    @extend .col-flex-9

  &__image
    @extend .col-flex-3
    display: inline-block
    padding: 0 rem-calc(16)
    height: 100%

    &:hover
      cursor: pointer

  &__bg
    transition: .5s all ease-in-out
    background-repeat: no-repeat
    background-position: center center
    background-size: contain
    height: 100%
    filter: grayscale(1)

    &--active
      filter: grayscale(0)

  &__waypoint
    transform: translateY(100px)
