.custom-home-team-slider
  position: relative
  margin-top: rem-calc(64)

  &__container
    @extend .flex-container
    padding-top: rem-calc(108)

    @media screen and (max-width: $screen-md)
      padding-top: rem-calc(64)

  &__bg
    position: absolute
    top: 0
    left: 0
    background-color: $c9
    width: 100%
    height: rem-calc(575)

  &__col
    @extend .col-flex-6
    background-repeat: no-repeat
    background-position: center -70px
    background-size: contain
    height: rem-calc(690)

    @media screen and (max-width: $screen-md)
      height: auto
      &:nth-child(1)
        display: none

  &__content
    padding: rem-calc(64) 0
    text-align: center

    @media screen and (max-width: $screen-md)
      padding: rem-calc(16) 0

  &__subtitle
    @extend h3
    margin-bottom: rem-calc(-18)
    color: $c2

  &__title
    @extend h2
    text-shadow: none

  &__slider
    margin-top: rem-calc(40)
    padding-left: rem-calc(32)

    @media screen and (max-width: $screen-md)
      padding: rem-calc(16)

  &__slide
    background-position: center -100px
    background-size: cover
    width: 100%
    height: rem-calc(400)

    @media screen and (max-width: $screen-md)
      background-position: top center
      height: rem-calc(350)
