.form-appointment
  text-align: center

  &__input
    margin: rem-calc(8) auto
    border: none
    border-radius: 5px
    padding: rem-calc(16)
    width: 90%

    &--button
      @extend .button
      background-color: $c3
      width: 50%
      color: $c2

  
