.repeater-sections-image
  &__container
    @extend .flex-container
    margin: rem-calc(124) auto

  &__image
    @extend .col-flex-5
    align-self: center
    background-position: center center
    background-size: cover
    height: rem-calc(400)

  &__content
    @extend .col-flex-7
    @extend p
    align-self: center
    transition: all 1s ease-in-out
    opacity: 0
    padding: rem-calc(96) rem-calc(52)

    &--active
      opacity: 1
