.repeater-sections-image
  &__container
    @extend .flex-container
    margin: rem-calc(108) auto

    @media screen and (max-width: $screen-md)
      margin: rem-calc(32) auto

  &__image
    @extend .col-flex-6
    align-self: center
    border-radius: 5px
    background-position: center center
    background-size: cover
    height: rem-calc(400)

    @media screen and (max-width: $screen-md)
      order: -1
      height: rem-calc(175)

  &__content
    @extend .col-flex-6
    @extend p
    align-self: center
    transition: all 1s ease-in-out
    opacity: 0
    padding: rem-calc(96) rem-calc(52)

    @media screen and (max-width: $screen-md)
      padding: rem-calc(64) rem-calc(32)

    &--active
      opacity: 1

  &__scroll
    position: absolute
    top: 200px
