.hero
  height: 100vh

  &__image
    .pages-home &
      background-image: url('/static/hero-home-3.jpg')
      background-position: center center
      background-size: cover
      width: 100%
      height: 100%

    &--option
      background-position: center center
      background-size: cover
      width: 100%
      height: 100%
