.hero
  height: 100vh
  overflow: hidden
  text-align: center

  &__text-overlay
    position: absolute
    width: 100%
    height: 100%
    display: flex
    align-items: center
    justify-content: end
    flex-direction: column
    background: rgba(0, 0, 0, 0.4)
    z-index: 1
    inset: 0

  &__openchair
    padding: 15px 25px
    display: inline-block
    margin-top: 10px
    background-color: #248bcb
    color: #fff
    cursor: pointer
    transition: all .3s ease-in-out

  &__text-content
    position: relative
    z-index: 2
    background: rgba(255, 255, 255, 0.2)
    backdrop-filter: blur(2px)
    -webkit-backdrop-filter: blur(2px)
    padding: 2rem 3rem
    border-radius: 12px
    color: #fff
    max-width: 50%
    left: 0
    top: 0px
    transform: translate(0px, -70px)
    @media screen and (max-width: $screen-md)
      max-width: 95%

  @media screen and (max-width: $screen-md)
    height: 60vh

  &__slider, &__slide
    position: relative
    width: 100%
    height: 100%

  &__slide-button-next
    position: absolute
    top: 50%
    right: 16px
    transform: translateY(-50%)
    z-index: 999

    &:hover
      cursor: pointer

    svg
      width: 30px
      height: 70px
      fill: $c1

      @media screen and (max-width: $screen-md)
        width: 25px
        height: 45px

  &__slide-button-prev
    position: absolute
    top: 50%
    left: 16px
    transform: translateY(-50%)
    z-index: 999

    &:hover
      cursor: pointer

    svg
      width: 30px
      height: 70px
      fill: $c1

      @media screen and (max-width: $screen-md)
        width: 25px
        height: 45px

  &__image
    .pages-home &
      background-position: center center
      background-size: cover
      width: 100%
      height: 100%

      &--1
        background-image: url('/static/home.jpg')

    .pages-home .hero--secondary-ready &
      &--4
        background-image: url('/static/HERO4.jpg')

      // &--6
      //   background-image: url('/static/hero-home-1.jpg')

      &--2
        background-image: url('/static/HERO2.jpg')

      &--5
        background-image: url('/static/HERO5.jpg')

      &--3
        background-image: url('/static/HERO3.jpg')
      // &--6
      //   background-image: url('/static/hero-home-7.jpg')

    &--option
      background-position: center center
      background-size: cover
      width: 100%
      height: 100%
      position: relative

  &__waypoint
    position: relative
    top: rem-calc(-300)

  &__title
    position: absolute
    bottom: 15%
    left: 50%
    transform: translateX(-50%)
    transition: all 1s cubic-bezier(.4, .7, .8, .9)
    opacity: 0
    z-index: 1
    border-radius: 5px
    background-color: none
    text-align: right
    font-weight: 200

    &--loaded
      opacity: 1

  &__button
    @extend h1
    @extend .button
    border: 3px solid $c2
    border-radius: 5px
    color: $c2
    font-size: 32px
    font-weight: 600

    &:hover
      background-color: $c1
      cursor: pointer
      color: $c2

  &__scroll
    display: inline-block
    position: relative
    bottom: rem-calc(160)
    z-index: 1

    @supports (height: 100vh)
      bottom: rem-calc(80)

    &--arrow
      transform: rotate(90deg)
      width: rem-calc(40)
      height: auto
      fill: $c1
