.block-fullwidth-text
  padding: 3rem 0

  &__container
    width: 100%
    max-width: 1170px
    padding: 0 15px
    margin: 0 auto
    display: block
    position: relative

  &__media-body
    ul
      margin-left: 25px
    h3
      margin: 1.5rem auto
      text-shadow: 1px 1px 5px #cccccc
      line-height: 36px
      font-family: "Open+Sans", helvetica, arial, sans-serif
      font-size: 33px
      font-weight: 100
    p
      line-height: 24px
      color: #2c2c2c
      font-family: "Open+Sans", helvetica, arial, sans-serif
      font-size: 16px
    ul li
      line-height: 24px
      color: #2c2c2c
      font-family: "Open+Sans", helvetica, arial, sans-serif
      font-size: 16px
    ol li
      line-height: 24px
      color: #2c2c2c
      font-family: "Open+Sans", helvetica, arial, sans-serif
      font-size: 16px