.block-text
  position: relative
  min-height: 50vh

  .pages-treatment-options &
    min-height: 70vh

  &__container
    @extend .col-flex-6
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    transition: all 1.2s ease-in-out
    opacity: 0
    padding: rem-calc(64) rem-calc(16)
    text-align: center

    &--active
      opacity: 1

    .pages-patient-info &
      transform: translate(-50%, -40%)

  &__subtitle
    @extend h4
    transition: all 1.2s ease-in-out
    margin-bottom: rem-calc(-15)

  &__title
    @extend h2

  &__content
    @extend p

  &__waypoint
    transform: translateY(80px)

  &__video
    display: none
    &::-webkit-media-controls
      display: none
