.block-text
  position: relative
  min-height: 100vh

  &__container
    @extend .col-flex-6
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    text-align: center

  &__subtitle
    @extend h4

  &__title
    @extend h2

  &__content
    @extend p
