.custom-contact

  &__bg
    padding: rem-calc(124) 0 rem-calc(64)

  &__container
    @extend .flex-container

  &__title
    @extend h2
    width: 100%
    text-align: center
    text-transform: uppercase
    color: $c1
    font-weight: 600

  &__form
    @extend .col-flex-10
    width: 100%
