.navigation
  position: fixed
  top: 0
  left: 0
  transition: .5s all ease-in-out
  z-index: 9994
  background: linear-gradient(180deg, rgba(229, 229, 229, 1) 0%, rgba(249, 249, 249, 0) 100%, rgba(255, 255, 255, 0) 100%)
  padding: rem-calc(32) 0
  width: 100%

  &--active
    box-shadow: 0 1px 1px $shadow
    background: $white
    height: 100vh

  &__container-lg
    @extend .container

  &__menu
    position: relative

    span
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -60%)
      color: $c1
      font-size: 18px

      &:hover
        cursor: pointer

    &--icon
      width: rem-calc(50)

      &--option
        position: relative
        bottom: 5px
        transform: rotate(180deg)

  &__logo
    position: absolute
    top: 0
    left: 50%
    transform: translateX(-50%)

    &--img
      height: rem-calc(70)

  &__call
    position: relative
    grid-column-end: 14

    span
      position: absolute
      top: 50%
      transform: translate(-50%, -60%)
      color: $c1
      font-size: 18px

  &__container
    @extend .flex-container
    transition: all .1s ease-in-out

    &--body
      .navigation--active &
        margin-top: rem-calc(96)

  &__left
    @extend .col-flex-7
    text-align: right

  &__right
    @extend .col-flex-5
    @extend h3
    position: relative
    padding-left: rem-calc(64)
    font-weight: 300

  &__body
    position: absolute
    top: -100%
    transition: all .5s ease-in-out
    height: 0
    overflow: hidden

    &--active
      position: relative
      top: 0
      height: auto
      overflow: visible

    &--option
      text-align: right

    &--right
      position: absolute
      top: 0
      left: 16px

  &__link
    @extend h3
    margin: rem-calc(16) auto
    font-weight: 300

  &__button
    @extend .button
    display: inline-block
    margin: rem-calc(32) auto
    width: rem-calc(250)
    text-align: center

  &__bottom
    @extend .col-flex-7
    text-align: right

  &__contact, &__social
    @extend h4
    color: $black
    font-size: 20px
    font-weight: 300

  &__contact
    margin: rem-calc(16) auto

  &__image
    display: inline-block
    position: relative
    margin-top: rem-calc(16)
