.navigation
  position: fixed
  top: 0
  left: 0
  transition: all .3s ease-in-out
  z-index: 9994
  width: 100%

  &--active
    box-shadow: 0 1px 1px $shadow
    background: $white
    height: 100vh

  &__container-lg
    @extend .container
    margin: rem-calc(32) auto

  &__menu
    span
      &:hover
        cursor: pointer

  &__logo
    position: absolute
    top: 0
    left: 50%
    transform: translateX(-50%)

  &__container
    @extend .flex-container

  &__left
    @extend .col-flex-8
    text-align: right

  &__right
    @extend .col-flex-4
    @extend h3
    position: relative
    text-align: left

  &__body
    position: absolute
    top: -100%
    transition: all .5s ease-in-out
    height: 0
    overflow: hidden

    &--active
      position: relative
      top: 0
      height: auto
      overflow: visible

    &--option
      text-align: right

    &--right
      position: absolute
      top: 0
      left: 16px

  &__link
    @extend h3
    margin: rem-calc(16) auto

  &__button
    @extend .button
    display: inline-block
    margin: rem-calc(16) auto
    width: rem-calc(250)
    text-align: center

  &__bottom
    @extend .col-flex-8
    text-align: right

  &__contact, &__social
    @extend h3

  &__contact
    margin: rem-calc(16) auto

  &__image
    margin-top: rem-calc(16)
