.navigation
  position: fixed
  top: 0
  left: 0
  transition: .5s all ease-in-out
  z-index: 9994
  background: linear-gradient(180deg, rgba(145, 145, 145, .5) 0%, rgba(145, 145, 145, 0) 100%, rgba(145, 145, 145, 0) 100%)
  padding: rem-calc(32) 0
  width: 100%
  height: auto

  &--active
    transition: .5s all ease-in-out
    box-shadow: 0 1px 1px $shadow
    background: $white
    height: 100vh

  &--scrolled
    box-shadow: 0 -1px 8px $shadow
    background: $white

  &__container-lg
    @extend .container

  &__menu
    display: inline-block
    position: relative

    @supports (display: grid)
      display: block

    &--bg
      position: absolute
      top: -5px
      left: 0
      transform: rotate(180deg)
      transition: all .5s ease-in-out
      opacity: 0

      &--active
        opacity: 1
        width: rem-calc(50)

        @media screen and (max-width: $screen-md)
          width: rem-calc(40)

    &--text
      position: absolute
      top: 50%
      left: 80%
      transform: translate(-50%, -60%)
      transition: all .4s ease-in-out
      color: $c1
      font-size: 18px

      @supports (display: grid)
        left: 50%

      @media screen and (max-width: $screen-md)
        transform: translate(-30%, -60%)
        font-size: 14px

      &:hover
        cursor: pointer

      &--active
        transform: translate(-84%, -60%)

        @media screen and (max-width: $screen-md)
          transform: translate(-50%, -60%)

    &--icon
      width: rem-calc(50)

      @media screen and (max-width: $screen-md)
        width: rem-calc(40)

      &--option
        position: relative
        bottom: 5px
        transform: rotate(180deg)

  &__logo
    position: absolute
    top: 0
    left: 50%
    transform: translateX(-50%)
    transition: .5s all ease-in-out
    width: rem-calc(300)

    &--scrolled
      width: rem-calc(250)

    @media screen and (max-width: $screen-md)
      width: rem-calc(175)

  &__call
    position: absolute
    top: 0
    right: 0

    @supports(display: grid)
      position: relative
      grid-column-end: 14

    span
      display: inline-block
      position: absolute
      top: 50%
      transform: translate(-55%, -60%)
      color: $c1
      font-size: 18px

      @media screen and (max-width: $screen-md)
        font-size: 14px

      &:hover
        cursor: pointer

  &__container
    @extend .flex-container
    transition: all .1s ease-in-out

    &--body
      .navigation--active &
        margin-top: rem-calc(96)

  &__left
    @extend .col-flex-7
    padding-right: rem-calc(32)
    text-align: right

  &__right
    @extend .col-flex-5
    @extend h3
    position: relative
    padding-left: rem-calc(64)
    font-weight: 300

  &__body
    position: absolute
    top: -100%
    transition: all .5s ease-in-out
    height: 0
    overflow: hidden

    &--active
      position: relative
      top: 0
      height: auto
      overflow: visible

    &--option
      text-align: right

    &--right
      position: absolute
      top: 0
      left: 64px

  &__link
    @extend h3
    display: block
    position: relative
    transition: all .25s ease-in-out
    z-index: 9997
    margin: rem-calc(8) auto
    text-transform: lowercase
    font-weight: 300

    @media screen and (max-width: $screen-md)
      display: block

    &--opacity
      opacity: .2

    &--active
      position: relative
      opacity: 1
      color: $black
      font-weight: bold

      &:after
        position: absolute
        right: -90px
        bottom: 0
        transform: translateX(-50%)
        border-bottom: 3px solid $black
        width: rem-calc(45)
        content: ''

    &:hover
      opacity: 1
      color: $black
      font-weight: bold

  &__sublink
    transition: all .5s ease-in-out
    margin-top: rem-calc(16)
    margin-bottom: rem-calc(-10)
    text-transform: lowercase
    font-size: 20px

  &__button
    @extend .button
    display: inline-block
    margin: rem-calc(32) auto
    width: rem-calc(250)
    text-align: center

  &__bottom
    @extend .col-flex-7
    padding-right: rem-calc(32)
    text-align: right

    &--opacity
      opacity: .2

  &__contact, &__social
    @extend h4
    color: $black
    font-size: 20px
    font-weight: 300

  &__social
    &--icon
      display: inline-block
      margin-left: rem-calc(8)
      width: rem-calc(32)

  &__contact
    margin: rem-calc(32) auto

    &--phone
      margin-bottom: rem-calc(24)

    &--address
      margin-bottom: rem-calc(6)

  &__image
    display: inline-block
    position: relative
    margin-top: rem-calc(32)
    background-position: center center
    background-size: cover
    width: rem-calc(500)
    height: rem-calc(350)

    @media screen and (max-width: $screen-md)
      display: none

  &__body-animation
    position: absolute
    transition: all .5s ease-in-out
    opacity: 0

    &--active
      opacity: 1
      z-index: 9997

  &__cta
    @extend .button
    position: absolute
    top: 45%
    right: 170px
    transform: translateY(-50%)
    transition: all .5s ease-in-out
    opacity: 0
    z-index: 1
    border-radius: 5px
    background-color: $c3
    padding: rem-calc(16)
    color: $c2
    // transition-delay: 1s

    .navigation--scrolled &
      opacity: 1
