.custom-contact-section
  padding-bottom: 4rem
  &__container
    @extend .container

  &__left
    @extend .col-sm-offset-2
    @extend .col-sm-6

  &__right
    @extend .col-sm-8

  &__contact
    @extend .flex-start
    padding-bottom: 1rem

  &__icon
    margin-right: 1rem
    width: 2rem

    .icon-fill
      fill: $lavender
