// Defaults

// $white: #fff
// $white-option: #f2f2f2
// $black: #000
// $black-option: #999
$gray: #ccc
// $gray-option: #c2c2c2
$danger: tomato


// Project Specifics

$spinner: #0092ff
$spinner-bg: #fff

$shadow: rgba(15, 15, 15, .25)
$shadow2: rgba(90, 33, 73, .5)
$shadow3: rgba(136, 116, 106, .5)

$white: rgb(255, 255, 255)
$white-two: rgb(216, 216, 216)
$yellow-tan: rgb(255, 222, 108)
$pale-peach: rgb(255, 237, 176)
$brownish-grey: rgb(136, 116, 106)
$grape: rgb(90, 33, 73)
$greyish-brown: rgb(61, 61, 61)
$black: #2c2c2c
$black-hover: lighten($black, 30%)


$c1: #238fd6
