// Defaults

$white: #fff
$white-option: #fff

$black: #000
$black-option: #999

$gray: #ccc
$gray-option: #c2c2c2


// Project Specific

$blue-grey: #7987a1
$petrol: #005067
$dark-lavender: #776ba2
$bluey-grey: #9eafc1
$black: #282727
$pale-violet: #c9b9fb
$light-lavender: #ded5fd
$pale-lavender: #f4f0ff
$cloudy-blue: #b4d6d7
$ice-blue: #eff9ff
$light-blue-grey: #d2e6e7
$pale-grey: #f8f9fb
$grape: #613579
$lavender: #b09df3
