// Defaults

$white: #fff
$white-option: #f2f2f2

// $black: #000
// $black-option: #999

$shadow: rgba(0, 0, 0, .25)

$gray: #ccc
$gray-option: #c2c2c2


// Project Specific

$black: #282727
$pale-grey: #f8f9fb
$petrol: #005067
$blue-grey: #7987a1
$bluey-grey: #9eafc1
$cloudy-blue: #b4d6d7
$light-blue-grey: #d2e6e7
$ice-blue: #eff9ff
$dark-lavender: #776ba2
$grape: #613579
$pale-violet: #c9b9fb
$lavender: #b09df3
$light-lavender: #ded5fd
$pale-lavender: #f4f0ff
