// --- Globals
// --- TODO: Fallbacks for grid that's built on floats, margins and widths.
// --- for things outside the standard container size

$width-large: 1330px

// --- for the standard container

$width: 1240px
$gutter: 22px
$columns: 12

// --- not used yet finding ways to implement a responsive height structure for larger templating issues

$rows: 1

// --- Screens

$screen-xl: 2560px
$screen-lg: 1440px
$screen-md: 1024px
$screen-sm: 768px
$screen-xs: 480px

// DONT TOUCH BEYOUD THIS POINT
// DONT TOUCH BEYOUD THIS POINT
// DONT TOUCH BEYOUD THIS POINT
// DONT TOUCH BEYOUD THIS POINT
// DONT TOUCH BEYOUD THIS POINT
// DONT TOUCH BEYOUD THIS POINT
// DONT TOUCH BEYOUD THIS POINT
// DONT TOUCH BEYOUD THIS POINT
// DONT TOUCH BEYOUD THIS POINT
// DONT TOUCH BEYOUD THIS POINT
// DONT TOUCH BEYOUD THIS POINT
// DONT TOUCH BEYOUD THIS POINT
// DONT TOUCH BEYOUD THIS POINT
// DONT TOUCH BEYOUD THIS POINT

// --- maxes

$screen-xl-max: $screen-xl - 1
$screen-lg-max: $screen-lg - 1
$screen-md-max: $screen-md - 1
$screen-sm-max: $screen-sm - 1
$screen-xs-max: $screen-xs - 1

// --- Classes


// --- container for just a basic one column container
.flex-container
  display: flex
  flex-direction: row
  flex-wrap: wrap
  margin: 0 auto
  width: 100%
  max-width: $width

.container
  display: grid
  position: relative
  margin: 0 auto
  width: 100%
  max-width: $width
  grid-template-columns: repeat($columns, [col-start] 1fr)
  grid-column-gap: $gutter
  grid-row-gap: 0

  @media screen and (max-width: $width)
    padding: 0 calc(#{$gutter}/2)
    grid-template-columns: repeat($columns, [col-start] 1fr)

// --- allows for a container that's larger than the standard for the website useful for having columns in a header or footer that you still want content constrained by

// NOTE: -- This should maybe flex-container-lg -- the naming convention makes dev seem like it would be a grid and not a flex grid system
.container-large
  display: flex
  justify-content: space-between
  margin: 0 auto
  max-width: $width-large
  @media screen and (max-width: $width-large)
    padding: 0 calc(#{$gutter}/2)

// --- for fallbacks with floats

.clearfix
  &:after,
  &:before
    display: table
    clear: both
    content: ''

// --- Functions

// --- Column Widths
// --- responsive cascades to largest screen size can't be done with max-widths

@for $i from 1 through $columns
  .col-xs-#{$i}
    transition: all .35s ease-in-out
    grid-column-end: span #{$i}

@for $n from 1 through $columns

  $col-width: calc((#{$n}/#{$columns}) * 100%)

  .col-flex-#{$n}
    flex: 0 0 auto
    flex-basis: $col-width
    flex-grow: 0
    width: $col-width
    box-sizing: border-box

  .col-flex-offset-#{$n}
    margin-left: $col-width

// --- Offsets
// --- responsive cascades to largest screen size can't be done with max-widths

@for $i from 1 through $columns
  .col-xs-offset-#{$i}
    @media screen and (max-width: $screen-sm-max)
      grid-column-start: #{$i}

  .col-sm-offset-#{$i}
    @media screen and (min-width: $screen-sm)
      grid-column-start: #{$i}

  .col-md-offset-#{$i}
    @media screen and (min-width: $screen-md)
      grid-column-start: #{$i}

  .col-lg-offset-#{$i}
    @media screen and (min-width: $screen-lg)
      grid-column-start: #{$i}

  .col-xl-offset-#{$i}
    @media screen and (min-width: $screen-xl)
      grid-column-start: #{$i}
