//======= Navs

@mixin sticky-nav

//======= Buttons

@mixin button-outline-draw($width, $height, $color, $padding)
  // heights and width are pixel or rem values
  // You must create an svg for this like:
  // div
  //  | content
  //  svg
  //    rect(x='0' y='0' width='100%' height='100%')
  // used on Spielberg Ortho
  $hoverline: calc(#{$width} / 2)
  $hoveroffset: calc(#{$width} + #{$height} + calc(#{$width} / 4))
  position: relative
  cursor: pointer
  padding: $padding
  width: #{$width}
  height: #{$height}
  text-align: center
  text-transform: uppercase
  color: #{$color}
  svg
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
  rect
    transition: all 1s ease-in-out
    fill: none
    stroke-width: 3px
    stroke: #{$color}
    stroke-dasharray: 1000, 0
  &:hover
    rect
      stroke-dasharray: $hoverline, $hoveroffset
      stroke-dashoffset: $hoverline

@mixin button-background-draw($width, $height, $color, $background, $padding)
  // heights and width are pixel or rem values
  // You must create an svg for this like:
  // div
  //  | content
  //  svg
  //    rect(x='0' y='0' width='100%' height='100%')
  // used on Spielberg Ortho
  $hoverline: calc(#{$width} / 2)
  $hoveroffset: calc(#{$width} + #{$height} + calc(#{$width} / 4))
  position: relative
  transition: all 1s ease-in-out
  border-radius: 3px
  background: $background
  cursor: pointer
  padding: $padding
  width: #{$width}
  height: #{$height}
  text-align: center
  text-transform: uppercase
  color: #{$color}
  svg
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
  rect
    transition: all .75s ease-in-out
    fill: none
    stroke-width: 3px
    stroke-dasharray: 1000, 0
  &:hover
    background: transparent
    rect
      stroke: $color
      stroke-dasharray: $hoverline, $hoveroffset
      stroke-dashoffset: $hoverline

@mixin button-background-draw-2($width, $height, $color, $color2, $background, $padding)
  // heights and width are pixel or rem values
  // You must create an svg for this like:
  // div
  //  | content
  //  svg
  //    rect(x='0' y='0' width='100%' height='100%')
  // used on Spielberg Ortho
  $hoverline: calc(#{$width} / 2)
  $hoveroffset: calc(#{$width} + #{$height} + calc(#{$width} / 4))
  position: relative
  transition: all .75s ease-in-out
  border-radius: 3px
  background: $background
  cursor: pointer
  padding: $padding
  width: #{$width}
  height: #{$height}
  text-align: center
  text-transform: uppercase
  color: #{$color}
  svg
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
  rect
    transition: all 1s ease-in-out
    fill: none
    stroke-width: 3px
    stroke-dasharray: 1000, 0
  &:hover
    background: transparent
    color: $color2
    rect
      stroke: $color2
      stroke-dasharray: $hoverline, $hoveroffset
      stroke-dashoffset: $hoverline

//======== Hamburgers

@mixin hamburger-basic($color, $timing, $width, $height)
    position: relative
    width: $width
    height: $height
    overflow: hidden
    span
      display: block
      position: absolute
      transform: translate(0, -50%)
      transition: all #{$timing} ease-in-out
      background: $color
      width: 100%
      height: .25rem
      &:first-child
        top: 25%

      &:nth-child(2)
        top: 50%

      &:last-child
        top: 75%
    &--active
      span
        &:first-child
          top: 50%
          transform: rotate(-45deg)

        &:nth-child(2)
          transform: translate(100%, -50%)

        &:last-child
          top: 50%
          transform: rotate(45deg)

//======== iterators

@mixin link-fade($amount, $animation, $duration, $timing, $delay)
  animation: $animation $duration ease forwards
  animation-delay: $delay
  opacity: 0

  @for $i from 1 through $amount
    &:nth-child(#{$i})
      animation-delay: (($i - 1) * $timing)

//======== Fades

@mixin fade-in($duration)
  opacity: 0
  &.fade
    animation: fade-in $duration ease-in-out forwards

@mixin fade-out($duration)
  opacity: 0
  &.fade
    animation: fade-out $duration ease-in-out forwards

@mixin fade-in-up($duration)
  opacity: 0
  &.fade
    animation: fade-in-up $duration ease-in-out forwards

@mixin fade-out-up($duration)
  opacity: 0
  &.fade
    animation: fade-out-up $duration ease-in-out forwards

@mixin fade-in-down($duration)
  opacity: 0
  &.fade
    animation: fade-in-down $duration ease-in-out forwards

@mixin fade-out-down($duration)
  opacity: 0
  &.fade
    animation: fade-out-down $duration ease-in-out forwards

@mixin fade-right($duration)
  opacity: 0
  &.fade
    animation: fade-in-left $duration ease-in-out forwards

@mixin fade-out-right($duration)
  opacity: 0
  &.fade
    animation: fade-out-right $duration ease-in-out forwards

@mixin fade-in-left($duration)
  opacity: 0
  &.fade
    animation: fade-in-left $duration ease-in-out forwards

@mixin fade-out-left($duration)
  opacity: 0
  &.fade
    animation: fade-out-left $duration ease-in-out forwards
