*
  line-height: 1.38
  letter-spacing: normal
  color: $black
  font-family: $font1
  font-size: 16px
  font-weight: normal
  font-style: normal
  font-stretch: normal

.header-small
  text-align: left
  line-height: 1.38
  color: $blue-grey
  font-family: $font2
  font-size: 16px

.testimonials
  font-family: $font1
  font-size: 16px
  font-weight: 300

.footer-text
  font-family: $font2
  font-size: 14px

.tagline
  letter-spacing: 1.6px
  color: $dark-lavender
  font-family: $font2
  font-size: 28px

body
  line-height: 1.38
  letter-spacing: normal
  color: $black
  font-family: $font1
  font-size: 16px
  font-weight: normal
  font-style: normal
  font-stretch: normal


h3
  line-height: normal
  letter-spacing: 5px
  color: $black
  font-family: $font2
  font-size: 20px
  font-weight: 600
  font-style: normal
  font-stretch: normal


h1
  line-height: normal
  letter-spacing: normal
  font-family: $font2
  font-size: 26px
  font-weight: normal
  font-style: normal
  font-stretch: normal


h2
  line-height: normal
  letter-spacing: normal
  font-family: $font2
  font-size: 20px
  font-weight: 600
  font-style: normal
  font-stretch: normal


h4
  line-height: normal
  letter-spacing: normal
  font-family: $font2
  font-size: 14px
  font-weight: 500
  font-style: normal
  font-stretch: normal
