//Grid classes
.flex
  display: flex
  flex-direction: row

.flex-center
  justify-content: center

.flex-between
  justify-content: space-between

.flex-around
  justify-content: space-around

.align-center
  align-items: center

.flex-container-full
  margin: 0 auto
  width: 100%
  max-width: $break-xl

  @media screen and (max-width: $break-xl)
    padding: 0 30px

.flex-container-lg
  margin: 0 auto
  width: 100%
  max-width: $break-lg

  @media screen and (max-width: $break-lg)
    padding: 0 30px

.flex-container-md-lg
  margin: 0 auto
  width: 100%
  max-width: $break-md-lg

.flex-container-md
  margin: 0 auto
  width: 100%
  max-width: $break-md

.flex-container-md-sm
  margin: 0 auto
  width: 100%
  max-width: $break-md-sm

.flex-container-sm
  margin: 0 auto
  width: 100%
  max-width: $break-sm

.order-last
  order: 2
