.home-section
  display: block
  
  // @media (min-width: $screen-lg-min)
    // display: none

.hero__openchair:hover
  background-color: #192954

.divider-text-button__openchair:hover
  background-color: white
  color: #248acd

.pages-patient-info .divider-text-button__title
  text-transform: capitalize

.pages-patient-info .block-text
  min-height: 110vh

.pages-patient-info .custom-patient-info-section
  min-height: 90vh

.pages-patient-info .custom-patient-info-section__container
  top: 30%

.pages-patient-info .block-text__container
  transform: translate(-50%, -60%) !important

.pages-patient-info .divider-text-button__cta
  text-align: left

@media (max-width: 1200px)
  .pages-patient-info .block-text__container
    width: 100%
    max-width: 100%

  .pages-patient-info .block-text
    min-height: 50vh

  .pages-patient-info .custom-patient-info-section
    min-height: 40vh

@media (max-width: 1024px)
  .pages-patient-info .block-text__container
    transform: translate(0%, 0%) !important

  .pages-patient-info .block-text
    min-height: 47vh

  .pages-patient-info .custom-patient-info-section__container
    padding-bottom: 50px

@media (max-width: 768px)
  .pages-patient-info .block-text__container
    transform: translate(0%, 5%) !important

  .pages-patient-info .block-text
    min-height: 35vh