.custom-home-doctor
  &__container
    @extend .flex-container
    margin-bottom: rem-calc(64)

  &__left
    @extend .col-flex-4
    @extend .col-flex-offset-1

  &__right
    @extend .col-flex-7
    align-self: center
    margin-top: rem-calc(16)

  &__subtitle
    @extend h4
    @extend .col-flex-12

  &__title
    @extend h2
    @extend .col-flex-12

  &__content
    @extend .col-flex-10
    @extend p

  &__image
    background-repeat: no-repeat
    background-position: bottom center
    background-size: cover
    height: 100%
