.custom-home-doctor
  position: relative
  min-height: 100vh

  &__container
    @extend .flex-container
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

  &__left
    @extend .col-flex-4
    @extend .col-flex-offset-1
    &--active
      transform: none
      opacity: 1

  &__right
    @extend .col-flex-7
    align-self: center
    transform: translateX(10px)
    transition: all 1.5s ease-in-out
    opacity: 0
    margin-top: rem-calc(16)

    &--active
      transform: none
      opacity: 1


  &__subtitle
    @extend h4
    @extend .col-flex-12

  &__title
    @extend h2
    @extend .col-flex-12
    margin-top: rem-calc(8)

  &__content
    @extend .col-flex-10
    @extend p

  &__image
    background-repeat: no-repeat
    background-position: center -85px
    background-size: cover
    height: 100%

  &__waypoint
    transform: translateY(250px)
