.custom-home-doctor
  position: relative
  min-height: 80vh

  @media screen and (max-width: $screen-md)
    height: auto

  &__container
    @extend .flex-container
    position: absolute
    top: 0
    left: 50%
    transform: translateX(-50%)

    @media screen and (max-width: $screen-md)
      position: relative
      margin-bottom: rem-calc(32)

  &__left
    @extend .col-flex-4
    @extend .col-flex-offset-1
    height: rem-calc(450)

    @supports (display: flex)
      height: auto

    @media screen and (max-width: $screen-md)
      margin-bottom: rem-calc(32)
      height: rem-calc(400)

    &--active
      transform: none
      opacity: 1

  &__right
    @extend .col-flex-7
    align-self: center
    transform: translateX(10px)
    transition: all 1.5s ease-in-out
    opacity: 0
    margin-top: rem-calc(16)

    @media screen and (max-width: $screen-md)
      transform: none

    &--active
      transform: none
      opacity: 1


  &__subtitle
    @extend h4
    @extend .col-flex-12

    @media screen and (max-width: $screen-md)
      text-align: center

  &__title
    @extend h2
    @extend .col-flex-12
    margin-top: rem-calc(8)

    @media screen and (max-width: $screen-md)
      text-align: center

  &__content
    @extend .col-flex-10
    @extend p

  &__image
    background-repeat: no-repeat
    background-position: center -60px
    background-size: cover
    height: 100%

  &__waypoint
    transform: translateY(250px)
