.custom-patient-info-section
  min-height: 50vh

  &__container
    @extend .flex-container
    margin-bottom: rem-calc(64)

  &__image, &__body
    @extend .col-flex-6

  &__body
    margin: rem-calc(32) auto
    padding: 0 rem-calc(24)

    @media screen and (max-width: $screen-sm)
      padding: 0 rem-calc(16)

  &__image
    background-position: center center
    background-size: cover
    min-height: rem-calc(350)

    @media screen and (max-width: $screen-sm)
      height: rem-calc(300)
