.custom-patient-info-section
  position: relative
  min-height: 100vh

  &__container
    @extend .flex-container
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

  &__image, &__body
    @extend .col-flex-6

  &__body
    align-self: center
    margin: rem-calc(32) auto
    padding: 0 rem-calc(24)

    ul
      margin-bottom: rem-calc(48)

    @media screen and (max-width: $screen-sm)
      padding: 0 rem-calc(16)

  &__image
    background-position: center center
    background-size: cover
    min-height: rem-calc(350)

    @media screen and (max-width: $screen-sm)
      height: rem-calc(300)
