.custom-patient-info-section
  position: relative
  min-height: 80vh

  @media screen and (max-width: $screen-md)
    height: auto

  &__container
    @extend .flex-container
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

    @media screen and (max-width: $screen-md)
      position: relative
      top: 0
      left: 0
      transform: none

  &__image, &__body
    @extend .col-flex-6

  &__body
    align-self: center
    transition: all 1s ease-in-out
    opacity: 0
    margin: rem-calc(32) auto
    padding: 0 rem-calc(24)
    overflow: hidden

    &--active
      opacity: 1

    ul
      margin-bottom: rem-calc(48)

    a
      text-decoration: underline
      color: $c1

    @media screen and (max-width: $screen-sm)
      padding: 0 rem-calc(16)

  &__image
    background-position: top center
    background-size: cover
    min-height: rem-calc(425)

    &--active
      transform: none
      opacity: 1

    @media screen and (max-width: $screen-sm)
      height: rem-calc(300)

  &__waypoint
    position: relative
    top: rem-calc(200)
