// --------------------------------------------------------
// units
// --------------------------------------------------------
@import './sass/units/units'

// --------------------------------------------------------
// vendors
// --------------------------------------------------------
@import './sass/vendors/normalize.sass'

// --------------------------------------------------------
// utilities
// --------------------------------------------------------
@import './sass/utilities/**/*'
@import './shared/**/*.sass'

// --------------------------------------------------------
// pages
// --------------------------------------------------------
@import './pages/**/*.sass'
@import './pages/**/**/*.sass'

// --------------------------------------------------------
// components
// --------------------------------------------------------
@import './base/*.sass'
@import './components/**/*.sass'
@import './components/**/**/*.sass'
@import './components/**/**/**/*.sass'

// NOTE: Need to add import for base.sass

.thankyou_content
  text-align: center
  width: 100%

.pages-thankyou .custom-contact__bg
	padding: 13rem 0 8rem

.btnsubmit, .form-apoointt_group .form-appointment__input--button
  display: inline-block
  text-align: center

.form-contact__error-message
  color: red
  font-size: 13px
  position: relative
  top: -6px

@media only screen and (max-width: 767px)
  .pages-thankyou .custom-contact__bg
    padding: 10rem 15px 8rem	