.block-text-button
  &__container
    @extend .flex-container
    margin-top: rem-calc(64)
    text-align: center

  &__subtitle
    @extend .col-flex-6
    @extend .col-flex-offset-3
    @extend h4

  &__title
    @extend .col-flex-6
    @extend .col-flex-offset-3
    @extend h2

  &__content
    @extend .col-flex-6
    @extend .col-flex-offset-3
    @extend p

    .pages-home &
      @extend .col-flex-8
      @extend .col-flex-offset-2

  &__container-option
    @extend .flex-container
    justify-content: center
    margin-bottom: rem-calc(64)

  &__button
    @extend .button-main
    margin-top: rem-calc(24)
