.custom-home-office-tour
  padding: rem-calc(96) 0

  //-- body

  &__container
    @extend .flex-container

  //-- titles

  &__titles
    @extend .col-flex-12
    margin: rem-calc(32) auto
    text-align: center

  &__title
    @extend h2

  &__subtitle
    @extend h4
    margin-bottom: rem-calc(-8)

  //-- slider

  &__slider
    @extend .col-flex-10
    @extend .col-flex-offset-1
    position: relative
    margin: 0
    padding: 0 rem-calc(64)
    text-align: center

    @supports(display: flex)
      margin: auto

    @media screen and (max-width: $screen-md)
      padding: 0 rem-calc(16)
      width: 100%

  &__slide
    display: inline-block
    background-position: center center
    background-size: cover
    width: 100%
    height: rem-calc(500) !important

    @media screen and (max-width: $screen-md)
      height: rem-calc(300) !important

  &__button-next, &__button-prev
    position: absolute
    top: calc(50% - 15px)
    z-index: 1
    width: rem-calc(30)
    height: rem-calc(30)

    &:hover
      cursor: pointer

    @media screen and (max-width: $screen-md)
      display: none

    svg
      fill: $c1

  &__button-next
    right: 0

  &__button-prev
    left: 0
