.custom-getting-forms
  position: relative
  background: $pale-grey
  padding: 4rem 0

  &__container
    @extend .container

  &__title
    @extend h1
    padding-bottom: 1rem
    text-align: center
    text-transform: uppercase
    color: $grape

  &__center
    @extend .col-sm-offset-4
    @extend .col-sm-10
    padding-bottom: 2rem
    text-align: center

  &__buttons
    @extend .col-sm-offset-7
    @extend .col-sm-4
    @extend .flex-center
    flex-direction: column

  &__button
    @include button-background-draw-2(280px, 51px, $white, $lavender, $lavender, 1rem 0)
    margin-bottom: 1rem
