// APP LEVEL STYLING
.button
  position: relative
  transition: color .45s ease-in-out
  border: 1px solid $c3
  cursor: pointer
  padding: 11px 20px
  overflow: hidden
  letter-spacing: rem-calc(1)
  color: $c3

  &:hover
    color: $c2

    span
      width: 225%
      height: calc(200px*2.25)

  &:active
    opacity: .7

  span
    display: block
    position: absolute
    top: 0
    left: 0
    transform: translate(-50%, -50%)
    transition: height .45s ease-in-out, width .45s ease-in-out
    z-index: -1
    border-radius: 50%
    background-color: $c3
    width: 0
    height: 0

.button-main
  position: relative
  transition: all .45s ease-in-out
  border: none
  background-color: $c1
  cursor: pointer
  padding: rem-calc(12) rem-calc(32)
  overflow: hidden
  letter-spacing: rem-calc(1)
  color: $c2

  &:hover
    background-color: $c1-hover
