.custom-about-office
  &__slider
    height: 60vh

  &__slide
    position: relative
    transform: skew(-15deg)
    overflow: hidden

  &__image
    position: absolute
    top: 50%
    transform: skew(15deg) translateY(-50%)
    width: 170%
    height: 130%
